In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("..//Data/Final_data.csv")

In [12]:
df[['State Name','Operator','Network Type','In Out Travelling']].describe()

         State Name Operator Network Type In Out Travelling
count        196630   196630       196630            195435
unique           34        9            3                 3
top     Maharashtra     RJio           4G            Indoor
freq          41604    91230       159642            113347

In [9]:
df.head()

,Unnamed: 0,Operator,Network Type,In Out Travelling,Call Drop Category,State Name,Latitude,Longitude
0,0,Idea,3G,Indoor,Poor Voice Quality,Maharashtra,19,72
1,1,Idea,4G,Outdoor,Poor Voice Quality,Maharashtra,19,72
2,2,Idea,4G,Indoor,Satisfactory,Maharashtra,19,72
3,3,RJio,4G,Outdoor,Satisfactory,Uttarakhand,30,78
4,4,RJio,4G,Outdoor,Satisfactory,Uttarakhand,30,78

In [11]:
df['Call Drop Category'].describe()

count           196630
unique               3
top       Satisfactory
freq            133965
Name: Call Drop Category, dtype: object